/Intel_Pro/
*/Intel/
*/Xilinx/
Xilinx/*
/Xillinx/
*.bak
*/db/
db/
*/incremental_db/
*/output_files/
*/simulation/
*/.idea/
*.zip
Xilinx/Round5_VHDL/Round5_VHDL.cache/wt/gui_handlers.wdf
Xilinx/Round5_VHDL/Round5_VHDL.cache/wt/java_command_handlers.wdf
Xilinx/Round5_VHDL/Round5_VHDL.cache/wt/project.wpc
Xilinx/Round5_VHDL/Round5_VHDL.cache/wt/synthesis.wdf
Xilinx/Round5_VHDL/Round5_VHDL.cache/wt/webtalk_pa.xml
Xilinx/Round5_VHDL/Round5_VHDL.runs/synth_1/gen_run.xml
Xilinx/Round5_VHDL/Round5_VHDL.xpr
Xilinx/Round5_VHDL/Round5_VHDL.cache/wt/gui_handlers.wdf
Xilinx/Round5_VHDL/Round5_VHDL.cache/wt/java_command_handlers.wdf
Xilinx/Round5_VHDL/Round5_VHDL.cache/wt/project.wpc
Xilinx/Round5_VHDL/Round5_VHDL.cache/wt/synthesis.wdf
Xilinx/Round5_VHDL/Round5_VHDL.cache/wt/webtalk_pa.xml
Xilinx/Round5_VHDL/Round5_VHDL.runs/synth_1/gen_run.xml
Xilinx/Round5_VHDL/Round5_VHDL.xpr
